.jumbotronHeader {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-bottom: #364e9c dashed 1.2px;
}

h1 {
  font-size: 1rem;
  font-weight: lighter;
  color: #e0e0e0;
}
